body, html{
    margin: 0;
    padding: 0;
    background:  rgb(186, 200, 240);
}

.body-page{
    font-family: 'Quattrocento Sans', sans-serif;
}
.main-box{
    background: rgb(250, 250, 250);
    margin: 20%;
    height: 20vh;

    border: 1px solid rgb(148, 171, 235);
    border-radius: 8%;
    box-shadow: 1px 3px 5px rgb(148, 171, 235);
}
.box-title{
    color: rgb(94, 91, 91);
    font-weight: bolder;
    padding-left: 10px;
    border-bottom: 1px solid rgb(148, 171, 235);
    box-shadow: 2px 4px 4px  rgb(148, 171, 235);
}
.formOne{
    height: 25px;
    margin: 30px;
    
    margin-top: 25%;
    
}
#getInput{
    width: 50%;  
    border: none;
    border-bottom: 1px solid rgb(230, 221, 221);
    background: transparent;
    margin-left: 10%;
    margin-right: 10%;
}
.research{
    background: transparent;
    border: 0;
    color: rgb(94, 91, 91);
}
.research:hover{
    background: transparent;
    border: 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.resultData{
    height: 25px;
    width: 60%;
    font-size: 10px;
    color: rgb(94, 91, 91);
    font-weight: lighter;
    margin-top:-65px;
    margin-right: 10px;
    float: right;
}
#box-quantity-days{
    height: 25px;
    width: 100%;
    font-size: 25px;
    color: rgb(94, 91, 91);
    font-weight: lighter;
    margin: 0;
    float: right;
    padding: 3%;
    text-align: end;
    margin-top: -40px;
}
.myName{
    text-align: center;
    margin-top: -40px;
    font-size: 12px;
}