*{
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Dekko', cursive;

}

@media screen and (max-width:1024px){

   body{
    background: #ffffff;

   .container{
      position: fixed;
      height: 100%;
      width: 100%;
  
      .title{
           font-family: 'Dekko', cursive;
           position: fixed;
           
           font-size: 22px;
   
           top: 10%;
           left: 50%;
           margin-right: -50%;
           transform: translate(-50%, -50%);
           
           color: #9580FF;         
    }
    
    .printDates{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       text-align: center;
   
       width: 250px;
      
       position: fixed;
       left: 55px;
       top: 19%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
   
       font-family: Nunito, sans-serif;
       font-size: 11px;
   
       height: 38px;
     }
   
    .result{
       position: absolute;
       font-family: Bebas Neue, sans-serif;
       
       top: 27%;
       left: 50%;
       transform: translate(-50%, -50%);
     
       font-size: 36px;
    }
   
    .birthData-title{
       position: fixed;
       top: 35%;
       left: 25%;
       margin-right: -50%;
       transform: translate(-50%, -50%); 

       font-family: 'Dekko', cursive;
       font-size: 100%;
    }
   
      .birthData-input{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
   
         position: fixed;
         width: 300px;
         top: 51%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);

   
         .inputDayAndMonth{
            width: 80px;
            height: 130px;
   
            border: 0;
   
            font-size: 40px;
   
            left: 10%;
   
            background: transparent;
   
            text-align: center;
         }
   
         .inputYear{
            width: 100%;
            height: 130px;
   
            border: 0;
   
            font-size: 40px;
   
            text-align: center;
   
            background: transparent;
         }
   
         .columns{
            width: 20%;
            height: 130px;
            border-radius: 5px;
   
            background:  #9580FF;         
            
         }
   
      }
   
      .toCount{
       position: fixed;
       width: 300px;
       height: 55px;
       top: 73%;
   
       border: 0;
       border-radius: 5px;
       
       background: #9580FF;
       color: white;
   
       font-family: 'Dekko', cursive;
       font-size: 28px;
       text-transform: uppercase;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);     
      }
   
    .toCount:hover{
       background: #685f96;
   
       transition: 2s;
      }  
    }
    footer{
      position: fixed;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);  
       top: 85%;
       
       font-family: 'Dekko', cursive;
       font-size: 10px;
      }
   }

}

@media screen and (min-width:1025px){

   body{
    background: #fdfdfd;

   .container{
      position: fixed;
      background: #3d3b3b;
      height: 100%;
      width: 30%;
      
      margin-top: 1%;
      margin-bottom: 1%;

      margin-left: 35%;
      border-radius: 36px;
  
      .container-title{
         position: fixed;
         width: 255px;
         height: 55px;
         top: 10%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);  
   
         border-radius: 25px;
   
         background: rgba(128, 255, 234, 0.9);
   
       h1{
           font-family: Bebas Neue, sans-serif;
           position: fixed;
           
           font-size: 18px;
   
           top: 50%;
           left: 50%;
           margin-right: -50%;
           transform: translate(-50%, -50%);
           
           color: #363636;
       }     
    }
    
    .printDates{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       text-align: center;
   
       width: 250px;
      
       position: fixed;
       left: 55px;
       top: 19%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
   
       font-family: Nunito, sans-serif;
       font-size: 10px;
   
       height: 38px;
     }
   
    .result{
       position: absolute;
       font-family: Bebas Neue, sans-serif;
       
       top: 30%;
       left: 50%;
       transform: translate(-50%, -50%);
     
       font-size: 36px;
    }
   
    .birthData-title{
       position: fixed;
       top: 35%;
       left: 45%;
       margin-right: -50%;
       transform: translate(-80%, -50%); 

       font-family: Nunito, sans-serif;
       font-size: 100%;
    }
   
      .birthData-input{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
   
         position: fixed;
         width: 300px;
         top: 51%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
   
         .inputDayAndMonth{
            width: 80px;
            height: 130px;
   
            border: 0;
   
            font-size: 40px;
   
            left: 10%;
   
            background: transparent;
   
            text-align: center;
         }
   
         .inputYear{
            width: 100%;
            height: 130px;
   
            border: 0;
   
            font-size: 40px;
   
            text-align: center;
   
            background: transparent;
         }
   
         .columns{
            width: 20%;
            height: 130px;
            border-radius: 5px;
   
            background: linear-gradient(180deg, #80FFEA 0%, rgba(255, 255, 255, 0) 100%), rgba(149, 128, 255, 0.9);
         }
   
      }
   
      .toCount{
         position: fixed;
         width: 300px;
       height: 55px;
       top: 70%;
   
       border: 0;
       border-radius: 5px;
       
       background: #9580FF;
       color: white;
   
       font-family: Bebas Neue,sans-serif;
       font-size: 28px;
   
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);     
      }
   
    .toCount:hover{
       background: #685f96;
   
       transition: 2s;
      }  
    }
    footer{
       position: fixed;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);  
       top: 85%;
       
       font-family: 'Dekko', cursive;
       font-size: 10px;
      }
   }

}

