* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  body {
    background: #363636;
  }
  body .container-title {
    position: absolute;
    width: 255px;
    height: 55px;
    left: 52px;
    top: 30px;
    background: rgba(128, 255, 234, 0.9);
  }
  body .container-title h1 {
    font-family: Bebas Neue, sans-serif;
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #363636;
  }
  body .dataPastAndPresent {
    position: absolute;
    top: 18%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: Nunito, sans-serif;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 38px;
    color: #FFFFFF;
  }
  body .dataPastAndPresent .pastData {
    position: absolute;
    width: 125px;
    left: 52px;
  }
  body .dataPastAndPresent .point {
    position: absolute;
    left: 190px;
    font-size: 24px;
  }
  body .dataPastAndPresent .presentData {
    position: absolute;
    width: 87px;
    left: 220px;
  }
  body .bornData-title {
    position: absolute;
    width: 115px;
    height: 14px;
    left: 26px;
    top: 208px;
    font-family: Nunito, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
  }
  body .result {
    position: absolute;
    font-family: Bebas Neue, sans-serif;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
  }
  body .partOfTheData {
    position: relative;
    font-family: Bebas Neue, sans-serif;
    font-size: 28px;
    display: block;
    color: #FFFFFF;
    width: 95px;
    text-align: center;
    padding-right: 0;
    top: 290px;
  }
  body .day {
    position: absolute;
    left: 30px;
  }
  body .column-one {
    position: absolute;
    width: 12.41px;
    height: 130px;
    left: 113.79px;
    top: 249px;
    background: -webkit-gradient(linear, left top, left bottom, from(#80FFEA), to(rgba(255, 255, 255, 0))), rgba(149, 128, 255, 0.9);
    background: linear-gradient(180deg, #80FFEA 0%, rgba(255, 255, 255, 0) 100%), rgba(149, 128, 255, 0.9);
  }
  body .month {
    position: absolute;
    left: 127px;
  }
  body .column-two {
    position: absolute;
    width: 12.41px;
    height: 130px;
    left: 222.41px;
    top: 249px;
    background: -webkit-gradient(linear, left top, left bottom, from(#80FFEA), to(rgba(255, 255, 255, 0))), rgba(149, 128, 255, 0.9);
    background: linear-gradient(180deg, #80FFEA 0%, rgba(255, 255, 255, 0) 100%), rgba(149, 128, 255, 0.9);
  }
  body .year {
    position: absolute;
    left: 236px;
  }
  .toCount {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 30px;
    top: 428px;
    border: 0;
    background: #9580FF;
  }
  .toCount h1 {
    font-family: Bebas Neue,sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .toCount:hover {
    background: #685f96;
    -webkit-transition: 2s;
    transition: 2s;
  }
  footer {
    position: absolute;
    width: 300px;
    left: 30px;
    top: 520px;
    font-family: Nunito, sans-serif;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=main.css.map */